<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1><p>Article N° {{ article.id }}</p></h1>
    
</div>

<div class="container">
    <div class="row">

        <table>
            <tbody>
            <tr>
                <th>Title :</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>content :</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Cover :</th>
                <td><img src="/uploads/article_image/{{article.cover}}"></img></td>
            </tr>

            <tr>
                <th>Date Create :</th>
                <td>{% if  article.getDateCreate %} {{  article.getDateCreate|date('Y-m-d ') }} {% endif %}</td>
            </tr>
        <td><a href="{{path('article_delete',{id:article.id})}}">Supprimer</a></td>
        {# <td><a href="update-article/{{ article.id }}">Update</a></td> #}
        <td><a href="{{path('article_edit',{id:article.id})}}">Modifier</a></td>
        <td><a href="{{path('articles_all',{id:article.id})}}">Retour</a></td>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>